<p id="notice"><%= notice %></p>
	<p>Email: <%= @student_profile.user.email %></p>
<p>
  <strong>First name:</strong>
  <%= @student_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_profile.last_name %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @student_profile.profile_pic %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @student_profile.bio %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
